*{
	margin: 0px;
	padding: 0px;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

header {
	width: 100%;
	float: left;
	background: #87509C;
	padding: 50px 0px;
}

.logo {

width: 40%;
float: left;
}

.logo img {

display: block;
width: 150px;
max-width: 100%;
}

.menu {

width: 60%;
float: left;
}

.menu a{
	font-size: 27px;
}

nav ul {

list-style: none;
}

nav ul li{
	
display: inline-block;
margin: 10px 35px;
transition: 0.8s;
}

nav ul li:hover {
	box-shadow: 0px 5px 0px red;


}

nav ul li a{
	
text-decoration: none;
	
color: #fff;
}

.header-content {
	padding-top: 200px;
	padding-bottom: 20px;
	width: 850px;
	margin: 0 auto;
	text-align: center;
}

.header-content h2{
color: #fff;
line-height: 33px;
font-size: 40px;
}

.btn {
	font-size: 25px;
margin: 75px;
background: #EB7D4B;	
padding: 20px 35px;
border: none;
transition: 0.4s ease-in-out;
}

.btn:hover {
	color: white;
	box-shadow: 0px 8px 0px #C86A40;

}

.service {
	background: #17C2A4;
	width: 100%;
	float: left;
}
.service-tittle {
    text-align: center;
    width: 600px;
    margin: 0 auto;
}
.service-tittle h3{
	padding-top: 60px;
	font-size: 30px;
	text-transform: uppercase;
}
.service-tittle p{
	margin: 20px;
	font-size: 18px;
}
.underline {
    border-bottom: 3px solid #161616;
    width: 100px;
    display: block;
    margin: 15px auto;
}
.service-box{
margin-top: 15px;
}

.service-box h3 {
	color: white;
	font-size: 25px;
    margin: 20px;
}

.service-one {
    width: 20%;
    float: left;
    text-align: center;
    margin: 35px 28px;
}

.service-one img{

}
.service-one p {
    color: white;
    font-size: 18px;
}

.team {
    width: 100%;
    padding-top: 20px;
    float: left;
    background-color: #D3D3D3;
}
.team-tittle {
    text-align: center;
    width: 600px;
    margin: 0 auto;
}
.team-tittle img {
}
.team-tittle h3 {
    padding-top: 25px;
    text-transform: uppercase;
    font-size: 30px;
}
.team-tittle p {
    font-size: 18px;
    margin: 20px 0px 60px;
}

.team-box i {
	font-size: 35px;
	color: grey;
	padding: 10px;

}
.team-one {
    width: 25%;
    float: left;
    text-align: center;
    margin-bottom: 50px;
}
.team-one h3 {
    margin-top: 10%;
    font-size: 25px;
    text-transform: uppercase;
}
.team-one h4{
	color: #7448B9;
}

.team-one img{
	
	width: 200px;
}
.team-one p {
	font-size: 20px;
    margin: 0px 0px 15px;
    padding: 10px;
}
.skills {
    width: 100%;
    float: left;
    background-color: #FFFFFF;
    text-align: center;
}
.skills-tittle {
    margin: 30px 300px;
}
.skills-tittle h3 {
    font-size: 40px;
    margin-top: 40px;
}
.skills-tittle p {
    font-size: 18px;
}

.skills-box{

}

.skills-one {
    width: 25%;
    float: left;
    text-align: center;
    margin-bottom: 50px;
}
.skills-one span {
    position: absolute;
    font-size: 25px;
    margin-top: 66px;
    margin-left: 65px;
}
.skills-one img{
	
}
.skills-one h3 {
    margin: 30px;
    color: #a22e2e;
    font-size: 20px;
}
.Portfolio {
    background-color: #FFDD99;
    width: 100%;
    float: left;
    padding-top: 30px;
    padding-bottom: 10px;
}
.Portfolio-tittle {
    width: 600px;
    text-align: center;
    margin: 0 auto;
}
.Portfolio-tittle h3 {
    font-size: 40px;
    margin-top: 50px;
}
.Portfolio-tittle p {
    font-size: 19px;
}

.btn2 {
    background: #C7AC75;
    color: white;
    font-size: 20px;
    margin: 10px;
    padding:8px 20px;
    border: 0;
    transition: 0.4s ease-in-out;
}
.btn2:hover {
    background: #C7AC75;
    box-shadow: 0px 5px 0px red;
    cursor: pointer;
}

.Portfolio-one {
    width: 46%;
    float: left;
    padding-top: 20px;
    text-align: center;
    margin: 10px 20px;
}

.Portfolio-one img {
    vertical-align: middle;
    border: 0;
}
.Portfolio-one h3 {
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 15px;
    
}
.btn3 {
	color: white;
	font-size: 35px;
	margin-top: 15px;
    margin-left: 600px;
    padding: 14px 30px;
    background: #30D0C1;
    border: none;
    margin-bottom: 50px;
    transition: 0.4s ease-in-out;
}

.btn3:hover{
	box-shadow: 0px 10px 0px #009688;
	color: yellow;

}

.about {
    width: 100%;
    float: left;
    text-align: center;
    background-color: #D74680;
    padding-top: 60px;
    padding-bottom: 30px;
}
.about-tittle {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
.about-tittle h3 {
    color: white;
    font-size: 35px;
}
.about-tittle p {
    color: white;
    font-size: 19px;
}

.about-one {
    width: 550px;
    float: left;
}
.slide {
    float: left;
    width: 30%;
}
.slide img {
    width: 180px;
    padding-top: 40px;
}

.write {
    float: left;
    width: 60%;
    padding-top: 63px;
    margin-left: 25px;
}
.write p {
    font-size: 15px;
    color: white;
    text-align: justify;
    font-style: oblique;
}
.write h1 {
	color: white;
    text-align: initial;
    font-size: 20px;
}
.write h5 {
    text-align: left;
    color: #FFEB3B;
    font-size: 15px;
}
.touch {
    text-align: center;
    width: 100%;
    background: #3C5499;
    float: left;
    color: white;
}
.touch-tittle {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
.touch-tittle h3 {
    padding-top: 40px;
    padding-bottom: 8px;
    font-size: 25px;
}
.touch-tittle p {
    font-size: 18px;
}

.name {
    width: 100%;
    float: left;
    padding-top: 20px;
}
.name input {
	font-size: 20px;
	color: white; 
    background: #0D3252;
    padding: 2px;
    padding-right: 80px;
    border: none;
}
.massage {
    width: 100%;
    float: left;
    padding-top: 10px;
    padding-bottom: 20px;
}
.massage textarea {
    background: #0D3252;
    border: 0;
    padding: 5px;
    font-size: 20px;
    color: white;
}
.btn4 {
	font-size: 25px;
    padding: 14px;
    background: #30D0C1;
    border: 0;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 40px;
    color: #fff;
}
.btn4:hover{
	color: yellow;
	box-shadow: 0px 7px 0px #009688;
}

footer {
    background: #324889;
    float: left;
    width: 100%;
}
.media {
    
    width: 100%;
}
.media {
    width: 100%;
}
.media li {
    display: inline-block;
    line-height: 100px;
    margin: 8px 52px;
    color: white;
    font-size: 18px;
}
.media li:hover {
	box-shadow: 0px 5px 0px red;
}









